body {
  background: blanchedalmond;
}

* {
  border: 2px solid paleturquoise;
}
.container {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  justify-content: space-between;
}


header, footer {
  flex-grow: 1;
}
.header {
color: blueviolet;
  min-height: 100px;
  order: 1;
  align-content: first baseline;
}

.main {
  min-height: 150px;
  -ms-flex-order: 2;
  color:blue;
}

.footer {
  min-height: 50px;
  order: 3;
  align-self: flex-end;
}
main {
  flex-grow: 5;
}

@media (min-width: 500px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
  }
  main, footer, header {
    margin: 5em;
  }
  
}